@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
}

:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}

.Heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.Content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.left-column {
  top: 0px;
  left: 0px;
  width: 268px;
  height: 982px;
  position: absolute;
  background-color: #CAE5FF;
}

.text {
  top: 105px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-weight: 600;
  text-decoration: none;
}

#left1 {
  top: 100px;
  left: 25px;
}
#left2 {
  top: 150px;
  left: 25px;
}
#left3 {
  top: 200px;
  left: 25px;
}

.button{
  color: #000000;
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-weight: 600;
  display: inline-block;
  padding: 0.3rem 2rem;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.home-text {
  top: 35px;
  left: 24px;
  color: rgb(90, 45, 12);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: SemiBold;
  text-align: left;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.lesson-name {
  top: 54px;
  left: 304px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44px;
  font-style: SemiBold;
  text-align: left;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.view-notes-outer {
  top: 149px;
  left: 304px;
  width: 277px;
  height: 57px;
  position: absolute;
  border-radius: 8px;
  background-color: #000000;
}

.view-notes {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-weight: 700;
}

.quiz {
  top: 250px;
  left: 303px;
  width: 881px;
  height: 480px;
  position: absolute;
  border-radius: 8px;
  background-color: #fffed3;
}


.next-button-outer {
  bottom: 20px;
  right: 58px;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-weight: 700;
  border-radius: 10px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quiz-question {
  top: 20px;
  left: 50px;
  position: absolute;
  color: rgba(0, 0, 0, 1);
  width: 765px;
  font-size: 28px;
  font-style: Bold;
  text-align: left;
  font-weight: 700;
  line-height: normal;
}
